{% extends 'hospital/admin_base.html' %} {% block content %}

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style media="screen">
        a:link {
            text-decoration: none;
        }
        
        h6 {
            text-align: center;
        }
        
        .row {
            margin: 100px;
        }
    </style>
</head>
<div class="container">
    <div class="panel panel-primary" style="margin-left:2%;  border-color: rgba(137, 200, 242, 1);width:106.5rem">
        <div class="panel-heading" style="text-align:center; background:rgba(181, 217, 236, 1); 
    border-color:rgba(181, 217, 236, 1) ; width: 100rem; height: 3.5rem; margin-left: 0.75cm; border-radius: 5px;">
            <h6 class="panel-title" style="font-weight: bold;">Department & Doctors</h6>
        </div>
        <table class="table table-hover" id="dev-table" style="font-size: small;color: #343A40; margin-left: 0.78cm; width: 100rem; ">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Doctor Name</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            {% for d in doctors %}
            <tr>
                <td style="color: #343A40;">{{d.department}}</td>
                <td style="color: #343A40;"> {{d.get_name}}</td>
                <td style="color: #343A40;">{{d.mobile}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}